{% extends 'base.html.twig' %}
{% block title %}
    Wszystkie artykuły
{% endblock %}
{% block body %}
    <h1>Artykuły</h1>
    <div>

        {% for article in articles %}
{#            {{ dump(article) }} #}
            <div>
                Ograniczenie ilości znaków
                <a href="/article/{{ article.id }}" target="_blank">
                    <h2>{{ article.title [:30] }}</h2><br>
                    <span>{{ article.content [:150] | capitalize }}</span>
                </a>
            </div>
            <br><br>
        {% endfor %}
    </div>
{% endblock %}

